*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(175, 174, 174);
}

.loader{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    border: 10px solid grey;
    border-top: 10px solid rgb(62, 60, 60);
    border-radius: 50%;
    animation: loader 3s linear 0s infinite forwards;
}
@keyframes loader {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}