* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: grey;
}

#loader {
    height: 100px;
    width: 100px;
    border: 7px solid black;
    border-radius: 50%;
    border-left-color:transparent;
    position: absolute;
    top: 45%;
    left: 45%;
    animation: loader 1s linear 0s infinite forwards;
}



@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}